github "jonkykong/SideMenu" "master"
github "yacir/CollectionViewSlantedLayout" "master"
github "AppliKeySolutions/VegaScroll"
github "Ramotion/folding-cell"
github "luispadron/UICircularProgressRing"