<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple</string>
		<key>address</key>
		<string>1900 Walnut St</string>
		<key>perk</key>
		<string>10% off select iPhone cases</string>
		<key>picture</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sephora</string>
		<key>address</key>
		<string>289 Chesnut St.</string>
		<key>perk</key>
		<string>20% off all beauty items</string>
		<key>picture</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Starbucks</string>
		<key>address</key>
		<string>2020 Market St</string>
		<key>perk</key>
		<string>1 free Mochachino</string>
		<key>picture</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WholeFoods</string>
		<key>address</key>
		<string>Red Hot Chili Peppers</string>
		<key>perk</key>
		<string></string>
		<key>picture</key>
		<string>4</string>
	</dict>
</array>
</plist>
